## SETUP AND IMPORT LIBRARIES

In [1]:
import boto3
from sagemaker import get_execution_role

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import io

# Initialize an S3 client using boto3
s3 = boto3.client('s3')

#Get the role
role = get_execution_role()

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/ec2-user/.config/sagemaker/config.yaml

Matplotlib is building the font cache; this may take a moment.

In [2]:
#Define the bucket with the qqp csv
source_bucket = "bucket-qqp"

In [3]:
#Check bucket content
for key in s3.list_objects(Bucket='bucket-qqp')['Contents']:
    print(key['Key'])

QQP_2024/01-2024_01.csv
QQP_2024/01-2024_02.csv
QQP_2024/02-2024_01.csv
QQP_2024/02-2024_02.csv
QQP_2024/03-2024_01.csv
QQP_2024/03-2024_02.csv
QQP_2024/04-2024_01.csv
QQP_2024/04-2024_02.csv
QQP_2024/05-2024_01.csv
QQP_2024/05-2024_02.csv

## READ CSV FROM S3

In [4]:
#Define prefix of s3
prefix = "QQP_2024"

In [5]:
#Setup a function to retrieve csv from csv using boto3
def get_csv_from_s3(source_bucket, prefix, filename, colum_name:None):
    
    #Path to the file in the bucket
    source_file = '{}/{}'.format(prefix, filename)
    
    # Retrieve the CSV file from the source S3 bucket
    obj = s3.get_object(Bucket=source_bucket, Key=source_file)

    # Read the CSV file into a pandas DataFrame
    return pd.read_csv(io.BytesIO(obj['Body'].read()), names=column_name, header=None)

In [6]:
#Define a list for column names
column_name = ["PRODUCTO","PRESENTACION","MARCA","CATEGORIA","CATALOGO","PRECIO","FECHA_REGISTRO","CADENA_COMERCIAL",
               "GIRO","NOMBRE_COMERCIAL","DIRECCION", "ESTADO","MUNICIPIO","LATITUD","LONGITUD"]

In [7]:
#Load january 
df_01_2024_P1 = get_csv_from_s3(source_bucket,prefix,'01-2024_01.csv',column_name)
df_01_2024_P2 = get_csv_from_s3(source_bucket,prefix,'01-2024_02.csv',column_name)

In [8]:
#Load february
df_02_2024_P1 = get_csv_from_s3(source_bucket,prefix,'02-2024_01.csv',column_name)
df_02_2024_P2 = get_csv_from_s3(source_bucket,prefix,'02-2024_02.csv',column_name)

In [9]:
#Load march
df_03_2024_P1 = get_csv_from_s3(source_bucket,prefix,'03-2024_01.csv',column_name)
df_03_2024_P2 = get_csv_from_s3(source_bucket,prefix,'03-2024_02.csv',column_name)

In [10]:
#Load april
df_04_2024_P1 = get_csv_from_s3(source_bucket,prefix,'04-2024_01.csv',column_name)
df_04_2024_P2 = get_csv_from_s3(source_bucket,prefix,'04-2024_02.csv',column_name)

In [11]:
#Load may
df_05_2024_P1 = get_csv_from_s3(source_bucket,prefix,'05-2024_01.csv',column_name)
df_05_2024_P2 = get_csv_from_s3(source_bucket,prefix,'05-2024_02.csv',column_name)

In [12]:
#Check out data
df_01_2024_P1.head()

,PRODUCTO,PRESENTACION,MARCA,CATEGORIA,CATALOGO,PRECIO,FECHA_REGISTRO,CADENA_COMERCIAL,GIRO,NOMBRE_COMERCIAL,DIRECCION,ESTADO,MUNICIPIO,LATITUD,LONGITUD
0,ASPIRADORAS,HV-120 KG3 A. POTENCIA 400 WATTS,KOBLENZ. ASPIRADORA MANUAL DE ALTO PODER,APARATOS ELECTRICOS,ELECTRODOMESTICOS,899.0,2024-01-02,COPPEL,TIENDA DE ELECTRODOMÉSTICOS,COPPEL SUCURSAL ESPACIO AGUASCALIENTES,"TECNOLOGICO 120, INT. CENTRO COMERCIAL ESPACIO...",AGUASCALIENTES,AGUASCALIENTES,21.87949,-102.260011
1,BARRA DE SONIDO,"S40 Q. BLUETOOTH, USB. POTENCIA 300 W. SONIDO 2.1",LG,APARATOS ELECTRONICOS,ELECTRODOMESTICOS,4299.0,2024-01-02,COPPEL,TIENDA DE ELECTRODOMÉSTICOS,COPPEL SUCURSAL ESPACIO AGUASCALIENTES,"TECNOLOGICO 120, INT. CENTRO COMERCIAL ESPACIO...",AGUASCALIENTES,AGUASCALIENTES,21.87949,-102.260011
2,BARRA DE SONIDO,"HT-S20R. BLUETOOTH, USB. POTENCIA 400 W. SONID...",SONY,APARATOS ELECTRONICOS,ELECTRODOMESTICOS,4499.0,2024-01-02,COPPEL,TIENDA DE ELECTRODOMÉSTICOS,COPPEL SUCURSAL ESPACIO AGUASCALIENTES,"TECNOLOGICO 120, INT. CENTRO COMERCIAL ESPACIO...",AGUASCALIENTES,AGUASCALIENTES,21.87949,-102.260011
3,BARRA DE SONIDO,S-400 O HT-S400. BLUETOOTH. USB. POTENCIA 330 ...,SONY,APARATOS ELECTRONICOS,ELECTRODOMESTICOS,4899.0,2024-01-02,COPPEL,TIENDA DE ELECTRODOMÉSTICOS,COPPEL SUCURSAL ESPACIO AGUASCALIENTES,"TECNOLOGICO 120, INT. CENTRO COMERCIAL ESPACIO...",AGUASCALIENTES,AGUASCALIENTES,21.87949,-102.260011
4,BATIDORAS,FPSTHM3532 O FPSTHM3532-013. MANUAL. 6 VELOCID...,OSTER,APARATOS ELECTRICOS,ELECTRODOMESTICOS,669.0,2024-01-02,COPPEL,TIENDA DE ELECTRODOMÉSTICOS,COPPEL SUCURSAL ESPACIO AGUASCALIENTES,"TECNOLOGICO 120, INT. CENTRO COMERCIAL ESPACIO...",AGUASCALIENTES,AGUASCALIENTES,21.87949,-102.260011

## CREATE A DATAFRAME FOR 2024 DATA AND CHECK IT

In [13]:
#Define a dataframe for 2024 records
df_qqp_2024 = pd.concat([df_01_2024_P1, df_01_2024_P2, df_02_2024_P1, df_02_2024_P2, df_03_2024_P1,
                        df_03_2024_P2, df_04_2024_P1, df_04_2024_P2, df_05_2024_P1, df_05_2024_P2])

In [14]:
#Columns data type is
df_qqp_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5867689 entries, 0 to 354405
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   PRODUCTO          object
 1   PRESENTACION      object
 2   MARCA             object
 3   CATEGORIA         object
 4   CATALOGO          object
 5   PRECIO            float64
 6   FECHA_REGISTRO    object
 7   CADENA_COMERCIAL  object
 8   GIRO              object
 9   NOMBRE_COMERCIAL  object
 10  DIRECCION         object
 11  ESTADO            object
 12  MUNICIPIO         object
 13  LATITUD           float64
 14  LONGITUD          float64
dtypes: float64(3), object(12)
memory usage: 716.3+ MB

In [15]:
#Transform to datetime
df_qqp_2024['FECHA_REGISTRO'] = pd.to_datetime(df_qqp_2024['FECHA_REGISTRO'])

In [16]:
#Check for nulls
df_qqp_2024.isna().sum()

PRODUCTO               0
PRESENTACION           0
MARCA                  0
CATEGORIA              0
CATALOGO               0
PRECIO                 0
FECHA_REGISTRO         1
CADENA_COMERCIAL       1
GIRO                   1
NOMBRE_COMERCIAL       1
DIRECCION              1
ESTADO                 1
MUNICIPIO              1
LATITUD             4332
LONGITUD            4332
dtype: int64

## ¿CUANTOS REGISTROS HAY HASTA AHORA EN 2024?

In [17]:
#Check number of row and columns
print(f"En lo que va de 2024 la cantidad de registros sobre productos que se han hecho es {df_qqp_2024.shape[0]}")

En lo que va de 2024 la cantidad de registros sobre productos que se han hecho es 5867689

## ¿CUANTAS CATEGORIAS HAY?

In [18]:
print(f"La cantidad de categorias es monitoriadas en 2024 es {len(df_qqp_2024.CATEGORIA.unique())}")

La cantidad de categorias es monitoriadas en 2024 es 42

## ¿CUANTAS CADENAS COMERCIALES HAY?

In [19]:
print(f"La cantidad de cadenas comerciales monitoreadas en 2024 es {len(df_qqp_2024.CADENA_COMERCIAL.unique())}")

La cantidad de cadenas comerciales monitoreadas en 2024 es 214

## ¿CUAL ES LA CATEGORIA MAS MONITOREADA PARA CADA ESTADO?

In [20]:
#Group by "ESTADO" and "CATEGORIA" and count
df_grouped_by_state = df_qqp_2024.groupby(['ESTADO','CATEGORIA']).size().reset_index(name='count')

In [21]:
#Get the the category with the most entries per state
max_category_per_state = df_grouped_by_state.loc[df_grouped_by_state.groupby('ESTADO')['count'].idxmax()]

#Check 
max_category_per_state

                    ESTADO           CATEGORIA   count
32          AGUASCALIENTES        MEDICAMENTOS   29119
74         BAJA CALIFORNIA        MEDICAMENTOS   32931
116    BAJA CALIFORNIA SUR        MEDICAMENTOS   25988
157               CAMPECHE        MEDICAMENTOS   30269
196                CHIAPAS        MEDICAMENTOS   13826
238              CHIHUAHUA        MEDICAMENTOS   34194
280       CIUDAD DE MÉXICO        MEDICAMENTOS  256474
322   COAHUILA DE ZARAGOZA        MEDICAMENTOS   31266
364                DURANGO        MEDICAMENTOS   28101
406       ESTADO DE MÉXICO        MEDICAMENTOS  162099
448             GUANAJUATO        MEDICAMENTOS   52851
490               GUERRERO        MEDICAMENTOS    9575
532                HIDALGO        MEDICAMENTOS    6047
574                JALISCO        MEDICAMENTOS   44362
615    MICHOACÁN DE OCAMPO        MEDICAMENTOS   29997
657                MORELOS        MEDICAMENTOS   14197
699             NUEVO LEÓN        MEDICAMENTOS   52247
741                 OAXACA        MEDICAMENTOS   21599
783                 PUEBLA        MEDICAMENTOS   25932
825              QUERÉTARO        MEDICAMENTOS   45319
866           QUINTANA ROO        MEDICAMENTOS   41699
908        SAN LUIS POTOSÍ        MEDICAMENTOS   31238
934                SINALOA  HORTALIZAS FRESCAS    3089
975                 SONORA        MEDICAMENTOS   29471
1016               TABASCO        MEDICAMENTOS   42746
1058            TAMAULIPAS        MEDICAMENTOS   20969
1100              TLAXCALA        MEDICAMENTOS   16694
1142              VERACRUZ        MEDICAMENTOS   33060
1183               YUCATÁN        MEDICAMENTOS   36176
1225             ZACATECAS        MEDICAMENTOS   44326

## ¿CUAL ES LA CADENA COMERCIAL CON MAS PRODUCTOS MONITOREADOS?

In [22]:
#Extract the top 10 companies with more products register in the database
top_10_comercial_chain = df_qqp_2024["CADENA_COMERCIAL"].value_counts().head(10)
top_10_comercial_chain

CADENA_COMERCIAL
WAL-MART                920516
HIPERMERCADO SORIANA    644258
BODEGA AURRERA          630006
MEGA SORIANA            497145
CHEDRAUI                417032
Name: count, dtype: int64

In [ ]:
# Create bar plot
plt.figure(figsize=(12, 8))
top_10_comercial_chain.plot(kind='bar', color='skyblue')

# Config label and title
plt.xlabel('Number of entries')
plt.ylabel('Comercial chain')
plt.title('Top 10 Comercial chain with more products registered')
plt.xticks(rotation=45, ha='right')

# Plot
plt.tight_layout()
plt.show()

In [ ]:
## ¿CUALES SON LOS CATALOGOS CON MAS PRODUCTOS?

In [ ]:
#Extract the top 10 categories with more products register in the database
top_10_catalog = df_qqp_2024["CATALOGO"].value_counts().head(10)
top_10_catalog

In [ ]:
# Create bar plot
plt.figure(figsize=(12, 8))
top_10_comercial_chain.plot(kind='bar', color='skyblue')

# Config label and title
plt.xlabel('Number of entries')
plt.ylabel('Comercial chain')
plt.title('Top 10 Comercial chain with more products registered')
plt.xticks(rotation=45, ha='right')

# Plot
plt.tight_layout()
plt.show()